<h2>Quote</h2>

<div>
  <% return_to = params[:return_to] %>
  <% if return_to %>
    <%= link_to "Back", return_to, class: "btn btn-info" %>
  <% end %>
</div>

<div>
  <p>Words:</p>
  <%= simple_format(@quote.text) %>
</div>

<div>
  <p>Source:</p>
  <% if @quote.source_is_url? %>
    <%= link_to @quote.source, @quote.source, id: "source-link" %>
  <% else %>
    <%= @quote.source %>
  <% end %>
</div>

<div>
  <p>Author:</p>
  <%= @quote.author %>
</div>

<div>
  <%= link_to "Edit", edit_quote_path(@quote, return_to: return_to), class: "btn btn-info" %>
  <%= link_to "Delete", quote_path(@quote, return_to: return_to), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
</div>
