<!DOCTYPE html>
<html>
  <head>
    <title>Words</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-light bg-light">
    <%= link_to quotes_path, class: "navbar-brand" do %>
      <%= image_tag("svg/edit.svg", size: 30) %>
      Words
    <% end %>
  </nav>
  <body>
    <div class="container">
      <%= render "layouts/flash_alert" %>
      <%= yield %>
    </div>
  </body>
</html>
