<!DOCTYPE html>
<html>
  <head>
    <title>Words</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= favicon_link_tag "favicon/apple-touch-icon.png", rel: "apple-touch-icon", type: "image/png" %>
    <%= favicon_link_tag "favicon/favicon-32x32.png", type: "image/png" %>
    <%= favicon_link_tag "favicon/favicon-16x16.png", type: "image/png" %>
    <%= favicon_link_tag "favicon/site.webmanifest", rel: "manifest" %>
    <%= favicon_link_tag "favicon/safari-pinned-tab.svg", rel: "mask-icon" %>
    <meta name="theme-color" content="#ffffff">

    <!-- Font awesome icons -->
    <script src="https://kit.fontawesome.com/4ddff9f81c.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-light bg-light">
    <%= link_to quotes_path, class: "navbar-brand" do %>
      <%= image_tag("svg/edit.svg", size: 30) %>
      Words
    <% end %>
  </nav>
  <body>
    <div class="container px-0">
      <%= render "layouts/flash_alert" %>
      <%= yield %>
    </div>
  </body>
</html>
